body {
    text-align: center;
    padding-top: 45px;    
    position: relative;
}

.bird{
    max-height: 30px;
    padding-bottom: 5px;
}

.navbar-fixed-top {
    height: 45px;
  }

  .parallax { 
    /* The image used */
    background-image: url("wall.png");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-image {
    padding-top: 5%;
    padding-bottom: 10%;
}

section {
    padding-bottom: 10%
}

h1 {
    font-size: 50px;
    padding-bottom: 5%;
}

p {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.table-below {
    padding-bottom: 5%;
}


table, th, td {
    border: 1px solid black;
 }

 th, td {
    padding: 15px;
    text-align: left;
}

.box1 {
    font-size: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.year {
    font-weight: bolder;
    width: 10%;
    height: 25%;
}

.deg {
    width: 40%;
    height: 25%;
}

.inst {
    width: 50%;
    height: 25%;
}

ul{
    font-size: 18px;
    text-align: left; 
    display: inline-block;
}

.kli {
    height: 30px;
    margin: 10px 0; /* not needed, just to add space between the li's */
    background: url('egg-bullet.png') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 40px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 30px; /* Might have to play with this value a bit */
    
}

.flexcontainer {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media (max-width: 320px) {
    .flexcontainer {
      display: block;
    }
  }

  .flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    text-align: center;
  }

  .kcol {
    padding-bottom:12px;
  }

  figcaption {
      font-size: 25px;
  }