h1 {
    font-size: 60px;
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
    color: grey;
}

.orangeify {
    background: white;}

.image{
    max-height: 200px;
}

.bird{
    max-height: 30px;
    padding-bottom: 5px;
}

